[alt-src]
name=added from: http://download-ipv4.eng.brq.redhat.com/rel-eng/repos/eng-rhel-7/x86_64/
baseurl=http://download-ipv4.eng.brq.redhat.com/rel-eng/repos/eng-rhel-7/x86_64/
enabled=1
gpgcheck=0
