[rcm-tools-rhel-7-workstation-rpms]
name=RCM Tools for Red Hat Enterprise Linux $releasever Workstation (RPMs)
baseurl=https://download.devel.redhat.com/rel-eng/RCMTOOLS/latest-RCMTOOLS-2-RHEL-7/compose/Workstation/$basearch/os/
enabled=1
gpgcheck=1
gpgkey=https://download.devel.redhat.com/rel-eng/RCMTOOLS/RPM-GPG-KEY-rcminternal

[rcm-tools-rhel-7-workstation-source-rpms]
name=RCM Tools for Red Hat Enterprise Linux $releasever Workstation (Source RPMs)
baseurl=https://download.devel.redhat.com/rel-eng/RCMTOOLS/latest-RCMTOOLS-2-RHEL-7/compose/Workstation/source/tree/
enabled=0
gpgcheck=1
gpgkey=https://download.devel.redhat.com/rel-eng/RCMTOOLS/RPM-GPG-KEY-rcminternal

[rcm-tools-rhel-7-workstation-optional-rpms]
name=RCM Tools for Red Hat Enterprise Linux $releasever Workstation - Optional (RPMs)
baseurl=https://download.devel.redhat.com/rel-eng/RCMTOOLS/latest-RCMTOOLS-2-RHEL-7/compose/Workstation-optional/$basearch/os/
enabled=1
gpgcheck=1
gpgkey=https://download.devel.redhat.com/rel-eng/RCMTOOLS/RPM-GPG-KEY-rcminternal

[rcm-tools-rhel-7-workstation-optional-source-rpms]
name=RCM Tools for Red Hat Enterprise Linux $releasever Workstation - Optional (Source RPMs)
baseurl=https://download.devel.redhat.com/rel-eng/RCMTOOLS/latest-RCMTOOLS-2-RHEL-7/compose/Workstation-optional/source/tree/
enabled=0
gpgcheck=1
gpgkey=https://download.devel.redhat.com/rel-eng/RCMTOOLS/RPM-GPG-KEY-rcminternal
